.menu a {
  padding: 12px 18px;
  border-radius: 5px;
}

.menu a:hover {
  border-radius: 8px !important;
}

.active {
  background: none !important;
  color: #65c3c8 !important;
  font-weight: 600;
  border-radius: 8px !important;
}

.active:active {
  background: none !important;
  font-weight: 600;
  border-radius: 8px !important;
}
